.chat-main
  .chat-main__header
    .chat-main__header--left-box
      .chat-main__header--left-box--current-group
        group name
      .chat-main__header--left-box--member-list
        Members: 
    .chat-main__header--edit-btn
      Edit
  .chat-main__messages
    .chat-main__messages--message
      .chat-main__messages--message--info
        .chat-main__messages--message--info--user
          test-user
        .chat-main__messages--message--info--date
          2019/11/11/19:11:14
      .chat-main__messages--message--text
        this is a first message
  .chat-main__form
    .chat-main__form__form
      .chat-main__form__form--input-box
        .chat-main__form__form--input-box--text
          %input{type: "text", placeholder: "type a message"}
        .chat-main__form__form--input-box--image
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file"}
      .chat-main__form__form--submit-btn
        Send