.chat
  .header
    .left-header
      .left-header__title
        group name
      .left-header__members
        Members:
        .member
          noname
    .right-header
      .right-header__button
        Edit
  .messages
    .message
      .upper-message
        .upper-message__user-name
          test-user
        .upper-message__date
          2019/11/11/19:11:14
      .lower-message
        .lower-message__content
          this is a first message
  .form
    %input{type: "text", placeholder: "type a message"}
    .form__message
    .form__mask
      .form__mask__image
        %label{class: "input-box__image"}
          = icon('fas', 'image')
      .hidden
        %input{type: "file"}
    .form__submit
      Send